openapi: 3.2.0
info:
  version: '2.16'
  title: Penpot RPC Create File API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Create File
paths:
  create-file:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: create-file
              type: object
              properties:
                name:
                  type: string
                  maxLength: 250
                projectId:
                  $ref: '#/components/schemas/Uuid'
                id:
                  $ref: '#/components/schemas/Uuid'
                isShared:
                  $ref: '#/components/schemas/Boolean'
                features:
                  $ref: '#/components/schemas/Features'
              required:
              - name
              - projectId
            example: '{"name":"2UmHXCau2GkDG73dYL5EtE0AdA32x7xK2tO68WE7YpMT5522wDkGgr17PLbrxdExiuiRMy5llkt9VzjShsq8A825morn5T6s6a4lewWrIYuqaKU3","projectId":"5ab5eb30-5b3a-81d5-8008-2a395e1ab382","id":"5ab5eb30-5b3a-81d5-8008-2a395e1ab383","isShared":true}'
      tags:
      - Create File
      summary: Create create file
      x-summary-source: derived
      operationId: postCreateFile
      x-operation-id-source: derived
components:
  schemas:
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
    Boolean:
      title: boolean
      description: boolean
      type: boolean
    Features:
      title: set
      description: Set of Strings
      type: array
      items:
        type: string
      uniqueItems: true
