openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Leave Org API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Leave Org
paths:
  leave-org:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/Uuid'
                name:
                  $ref: '#/components/schemas/Text'
                defaultTeamId:
                  $ref: '#/components/schemas/Uuid'
                teamsToDelete:
                  type: array
                  items:
                    $ref: '#/components/schemas/Uuid'
                teamsToLeave:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/Uuid'
                      reassignTo:
                        $ref: '#/components/schemas/Uuid'
                    required:
                    - id
              required:
              - id
              - name
              - defaultTeamId
              - teamsToDelete
              - teamsToLeave
            example: '{"id":"5ab5eb30-5b3a-81d5-8008-2a395e0e89da","name":"clfb","defaultTeamId":"5ab5eb30-5b3a-81d5-8008-2a395e0e89db","teamsToDelete":[],"teamsToLeave":[{"id":"5ab5eb30-5b3a-81d5-8008-2a395e0e89dc"},{"id":"5ab5eb30-5b3a-81d5-8008-2a395e0e89dd"},{"id":"5ab5eb30-5b3a-81d5-8008-2a395e0e89de","reassignTo":"5ab5eb30-5b3a-81d5-8008-2a395e0e89df"},{"id":"5ab5eb30-5b3a-81d5-8008-2a395e0e89e0","reassignTo":"5ab5eb30-5b3a-81d5-8008-2a395e0e89e1"}]}'
      tags:
      - Leave Org
components:
  schemas:
    Text:
      title: string
      description: not whitespace string
      type: string
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
