openapi: 3.2.0
info:
  version: '2.16'
  title: Penpot RPC Redeem Nitrate Activation Code API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Redeem Nitrate Activation Code
paths:
  redeem-nitrate-activation-code:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: RedeemActivationCodeParams
              type: object
              properties:
                activationCode:
                  $ref: '#/components/schemas/Text'
              required:
              - activationCode
            example: '{"activationCode":"afad"}'
      responses:
        default:
          description: A default response
          content:
            application/json:
              schema:
                title: RedeemActivationCodeResult
                type: object
                properties:
                  cancelAt:
                    title: instant
                    type:
                    - string
                    - 'null'
                    format: iso
                required:
                - cancelAt
              example: '{"cancelAt":"2026-06-12T12:36:04.278614142Z"}'
      tags:
      - Redeem Nitrate Activation Code
      summary: Create redeem nitrate activation code
      x-summary-source: derived
      operationId: postRedeemNitrateActivationCode
      x-operation-id-source: derived
components:
  schemas:
    Text:
      title: string
      description: not whitespace string
      type: string
