openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Update Profile Notifications API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Update Profile Notifications
paths:
  update-profile-notifications:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: update-profile-notifications
              type: object
              properties:
                dashboardComments:
                  title: enum
                  type: string
                  enum:
                  - all
                  - partial
                  - none
                emailComments:
                  title: enum
                  type: string
                  enum:
                  - all
                  - partial
                  - none
                emailInvites:
                  title: enum
                  type: string
                  enum:
                  - all
                  - none
              required:
              - dashboardComments
              - emailComments
              - emailInvites
            example: '{"dashboardComments":"none","emailComments":"none","emailInvites":"all"}'
      tags:
      - Update Profile Notifications
