openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Get View Only Bundle API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Get View Only Bundle
paths:
  get-view-only-bundle:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: get-view-only-bundle
              type: object
              properties:
                fileId:
                  $ref: '#/components/schemas/Uuid'
                shareId:
                  $ref: '#/components/schemas/Uuid'
                features:
                  $ref: '#/components/schemas/Features'
              required:
              - fileId
            example: '{"fileId":"5ab5eb30-5b3a-81d5-8008-2a395c6209d1","shareId":"5ab5eb30-5b3a-81d5-8008-2a395c6209d2","features":["design-tokens\/v1","layout\/grid","text-editor\/v2-html-paste","components\/v2"]}'
      tags:
      - Get View Only Bundle
components:
  schemas:
    Features:
      title: set
      description: Set of Strings
      type: array
      items:
        type: string
      uniqueItems: true
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
