openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Rename File API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Rename File
paths:
  rename-file:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: RenameFileParams
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 250
                id:
                  $ref: '#/components/schemas/Uuid'
              required:
              - name
              - id
            example: '{"name":"6m8KKXHRYG699KuWvNgGLTTa8MJ4gVdWd0h97TX06KCbj2avuAMSM93PbN17kzfo59lp83kMYIm0jN5ccfli7xfX5","id":"5ab5eb30-5b3a-81d5-8008-2a395c62e088"}'
      responses:
        default:
          description: A default response
          content:
            application/json:
              schema:
                title: SimplifiedFile
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/Uuid'
                  name:
                    type: string
                    maxLength: 250
                  createdAt:
                    $ref: '#/components/schemas/Inst'
                  modifiedAt:
                    $ref: '#/components/schemas/Inst'
                required:
                - id
                - name
                - createdAt
                - modifiedAt
              example: '{"id":"5ab5eb30-5b3a-81d5-8008-2a395c62e089","name":"c07T0g4pp6IJbOE2iID50Al0dv8i1duEM63NJ43kP0nYF92WU9zOljoswmv42An1tdBZSiLK324D4Tan6Op28suUPA6PK3K5rf3nXv23DMzjQnQ1loZ0PY9Fz7jYyvD9wI0So7qEOMKZ2x7MP5K3E7gKoZ2YP1hjDRNi6aImu9p75dBP2e93WGP5YEIxKaWdyT5G","createdAt":"2026-06-12T12:36:02.547956981Z","modifiedAt":"2026-06-12T12:36:02.562996636Z"}'
      tags:
      - Rename File
components:
  schemas:
    Inst:
      title: instant
      type: string
      format: iso
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
