openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Verify Token API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Verify Token
paths:
  verify-token:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: verify-token
              type: object
              properties:
                token:
                  type: string
                  maxLength: 5000
              required:
              - token
            example: '{"token":"31Tg1Wu9Q46g7l0zFESJT1Q01UR48MOB1pQNw6Sdy461824z7TXRpXHp6LmX23rxW4Q3jWuSZPDSQ83oXb0nHkhCr7La6rXhA0eJa2A1aWTYw1ad4CmU2y8CAcU63AfyZ4Ctw3RLU0T0u4450R4VD0iQs01Ky3TCitcp56M3jWR1nkeXJT0lF3MfTE6w4g4438CO5q30tsj5RidokESwb0fa6eUr5m9ke845ZAieY9uO3Aca6lC1328m5wT612opBKsmz9kAF31ZeXfPw7z2mR04M1ZdwS7fMvjF88atf615jmbM11A8m4KEL2R68rIeZIZB02S8KIf8Y355PCSOt1k7SsT5jTuB2T2h5876aJ2Bl2ED3Xs5uOUr2Kz8m53peFUUc08o1UOTvez0369vr8gHW6N1bOey6ANRg5vzx0KY248pBzKn37KB5jk9kC78RNsV197Hhtj50dW2n3ZqjBmfYppq3HNcO3R3h708546w5eWZDStJ23aNsRUEG7HbnBCOjvlkuHd0h132vL0se8cu53RhaUX1GSi9w13uUMP6q91Qoapon3F502kQ3U8Uc2UxDIgt1rBWz58K6r3Ewkrc2p0ru15dS53ECqRXu4bMZ7jj0P3b42Naa223uK2upwF6a4N22i6xW36QiG4264I05fnce4p692V99IyxdH9V058eSE1QHGd57NcI4KS3Z0BW13eSRWKb667Q5gL99xU6zD1YzKE9tvr8S1jU4U6G2Pe2XjFYzua2kvHJcKtm1B1VSJg8onq3ETJtHPpgHMSSZ9T3vP7xDqe44pn84nroB7Z1kuG0ttvj9b1C0s45Qm8li0Rds5S5ph6QV46Q123sb8YA4GGMI6mYGsbrvt23pSG1a2q0W0W2p8t522XqPKzwU3hDJWwVun9RQQyVuj5QqZh55GxsiuVKyYTw53e26B2572Uv1hdKVV1DXvtRCYByA0RC34uh7X8X9b2f6xt8cAJ32TeB2LcaWhRQ86Clmu0DRyaKoVCKTiB2WM9sbm3cBwP61wuK1QcadfPP9HEBHZ4Xqf6Q90E68m42XM6014v0s210cK6u3JZ0o4cR5jxv91Yi68q0KkcRnZNPZRED3L5wdqXM3M3266tVUObjn6467366zrRd36Dyu4N0TK6E1r8K92aj0870YCFqqD142bO9WlwjSWZ78GU52H4a58LIOVjtv2q44Q77pFso57f2L7BA9p3LNbPOuiN5dPClUp0O49VzZd7c48a90hzhs4l1TwDTj3OtZNys5w63H0rOZNJHSj28nPohT7i4UmeczTzV8Ayca99zf624oiRhwFxV08kHhbQuxwym30yaDXOv793FOyPmUx5txLU2E6kfLNHg87Qqno9Y6z2xXsxm0vW5pj06a8pLWJ8wPrP8hxR43l93J7oOxuPyhxG05T27OIomQXp448757jq1hle5S13AjniW3AVk2K9W1Kx26zR4d8EXNaQR20NPF0b87fC55r54eOjve1ij331bSq3wOh97fzxq5NLXrU4ln8JBJfZBUXe6BwgR2MgvWsF0f0bWmPZ05hAMasm79KIldHx6E492WU6155RWk4FM9jC85oxyQR31IdsQD36Q95csN1h5Y0XeF8X2g4wm7jmh57W0gBNAbNZLLxAIF9vVKMbdhd47858Dd5712o8Hq8wJJ3YV5032mKCCOgvz86H9S9JK39fPe41IfI7PkhZom83jzLsEbz3Hz2m2n240tttKr4AO1VM9k5U64557X35g1rAAcY2CH3o5j6d4PT5B9ETG47X90372QBllwlX3fpSEd1hefHRkK33VrgYV0z2Z83H33XGy64ao9QcWlo5q1cVp7ar811Umu9JuKkhVRSk6G8ZUooGd7f8n7HwPq9N19Z80cp1r68GuU62C2233L10kShXFnKa64S2moi51zv3SX0m4cukMh5XNkh0pBWIB5Wkg9ObDfp3z2kb0m03Q917n496LN83W0m03V6sJju8mP1q793zgJutoBhCeTBXdI199Xs4Bhd6OZFBvhHU1fpyPwFuIX0k0KnN4MhgQ2GuNf85eHe2FWNIG0gc08q25RWTq8LpxccL6RZ16NH9V4EP91nQHRo02v5W91ATv19s406ueZHXIb3thl2JoqjOGmkX6vZRyvBXGgb57gE4krua6ZG8z523WN05b44LS0gK8Y387pABq6bplV1q0RwrT1VW7926s7E3R0zm96EIzSWd7t92Wd8FC790b761uk4u7iqpOV1UJB3yO8X0jY6m9Ydt44GaT979W374EEMij5sRUnpkPk5GrMz2m5hjYsmSpn06L3nNufW4AE8vC1sZZB2JR9J6FI7rLs1k76xwU2kM3TB5vw992Os6hBOnw33lyGbgx6iGp75cXppk4XGiR7gE0d835w7pD4FBa6R7hxeaT74fX6HV3x07rEwqOy6AT543zL3U2a2290C0u77mq9wOBmdn5K4rS1fKGD11OczRlas3Tdf3car8uaE5gI1BszOF34016ko66J6mRxu3uMXG65LAEK842Q3dikk9CBp51lGzcO0QTc7C2232d3g12P44V8rn484ZvYUCu1s4Kz4z32N4S29pCY7qt3CKFqfNh77g8auwUU06m04gL2xv9W2y9P002C6C1c50H9nNa45c4Uxq2Fx6xF8HW7n72Kg4yqQM2g8ynPLpmwGBdkhpeAu8O9oPqUk5S57zfcXH4xq1Y3BlUj2q26bi9R806598o1qOvNR6pQ3B4Nl9zVj0rw8Y05B96yaUoz19Pbj0d5R1x5h7Nm917Be64gbe734JfGjLNIyyYnb5pHqOgNT3f154sqZ3fJ8Bgix0zrEI0M3IXmNb5H6KMX0NknQFP2mK2XX61lHqOt3p292yZ546v4eWw9s9T398d69k6VYvL51CTrds49x4m4GHHC2U0U52ydcF09QlVrtB5eP016Eb3Tc5wdb8xSP293tkO2641Sm3gvo1NF0y9BfJLKMN54c1UHv1xUeuL4vt5pBdq4mBudr6ur6c5KiM53FlmU66JMA1Hgl0l9VlT33jh3ygW0ALN8yXIAawq8ds3d837Q44oaKiL4xGFkLrrt881PTN6Q448x68v730705NJZ35k7TT93H6xYLs2ok5PUGFglF6KMK69ZQQWv7j6fc0EjL2Coj2l1Pr165h79J1I4t26V4f1QgVxAjk67klM7eykF6ND24HOt4qiS1w7C50fBCeBmEFehdPq4Ac16wPk38w15syE8h9JI3xhNz9VPM6JuU26GT64hN5gK47c74E2taTb21S0i54Xwnr795Cv6Bmx1u55NNf9g4aOGX1ZXVow143o0VzVj20928aM870n6289S547p8X2Jfnwzy3Ya7foy69IyaA5XAGNP9I22hlw6up4hc3EDhvuARk89t9UT4b1EEfU01uTkZ02JGZMfwnSJ5jM9UwA34Pd911tpfsek32ljq3PNXb1l2nVz5loknnt4TB2NdZe3ya1Cov3oz3NM3aeqyskVEfz7eKY9v8ORV1783EnqqFz47T4JFcbO344G6xqYRa15F5l9zR99k4cC424egL1LnUH5cbi6175t8379t1LgeF133496y4QobZ938qQc5d2icN1Ea2Hb85FhB35kc2e67A662OS6BXaG8t7HTQfYl2Nv93Q58R5hP7YsnYb86D7L16nKCk4EmMq0bix65zmv9V5YAk23N0VV83o3tsqB9R9DTKi086a54K6OB9cU9mP338sHF6aBYNLI28VaXf8oWE1dy8a059vk603dqjb8a0v1m54l5rpRjg3zyny6cOh56qfg8Ax10NPmdO4FFo975OxcuCpwBzO1Y4LZ730biu7C81M6cYP31Z8qo0WEbGfEU3N4Wr6M09qwtV9B5zhcI1h9a4J0kjp0cNXL99Cux4w18vq7oLit11ed8jbJK5Kc3Q1Gol02N7uISOvyfe2m5Gsa0vJ52U84V4NuD21jzUyUhi2zgG291RSXii1ToY14Q33kJ3opq6z0X4m8lv9900P1881om4HC2BOND0UDGZW6K2xWuNvyqVXFLEkHL9lc3Am937c26s66k4Y1x0RLAY9CePcG8M8Y5H5jE4M0pyXKC4mV1mKp1PhZOmdIEqqWo9C5B3jFQ2yOO66s53i05vIJroYLiAKHlw3G2PVS46dypcE9cMeLu62Wvsuw3v2HdUM43fDP0c3lpFU1DY8OCc3gETePO4R0yO7yMpU0VZS8Bub98uvASW1YAIHz9Zr6K1GgFtRIvm26msMPFJ181BL8B8f1AmNGq9WRtU6H2697O7q8E5OW77fg0dfnb0G79Q6noncqkE4CY9d5Eq33Mz57RX1fKSW2LIpbVAk71BI75th3a3qe121Cj1DuEGdDPQSA0ix3n0KONt9mv9323b37yjpSCNLkr1XDs285qQcB3d16o5hbOnUph9E46aBf45GnA8AFXCwiz3td2492t5x875EWa0WtIY3r78F6bf66jpDtAZaI15VD2aiSdV7Kl7Vpx2DUYqn4dkG1J8uujWS81556xMv0M0uPNZuk39to6s64jPsQRk8I58kc5Fup2pBz3dZ8doF8tDsjQ1W85DUKcI2bqMjfJ9be5032oO6otoy22lyi35qxua9av7jMMRMcAyE62Tdhw50Q6z0vhpvkWlG7V5926s3XfDr73z1B2ZSe2xY8gSDQxrOU33z2p45WdAFa14"}'
      tags:
      - Verify Token
