openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Create Comment Thread API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Create Comment Thread
paths:
  create-comment-thread:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: create-comment-thread
              type: object
              properties:
                fileId:
                  $ref: '#/components/schemas/Uuid'
                position:
                  $ref: '#/components/schemas/GeomPoint'
                content:
                  type: string
                  maxLength: 750
                pageId:
                  $ref: '#/components/schemas/Uuid'
                frameId:
                  $ref: '#/components/schemas/Uuid'
                shareId:
                  $ref: '#/components/schemas/Uuid'
                  nullable: true
                mentions:
                  title: set
                  description: Set of Strings
                  type: array
                  items:
                    $ref: '#/components/schemas/Uuid'
                  uniqueItems: true
              required:
              - fileId
              - position
              - content
              - pageId
              - frameId
            example: '{"fileId":"5ab5eb30-5b3a-81d5-8008-2a395c46d8dc","position":{"x":1,"y":60},"content":"75787OQHxRWlWzikiRRWjrhu81lPU43CcI6i8vLJe6942QE8dDv30G1ZZ560EDd0CIX8wJsi6vzNv670Rb912ClY4ypyQQ6w5","pageId":"5ab5eb30-5b3a-81d5-8008-2a395c4745a5","frameId":"5ab5eb30-5b3a-81d5-8008-2a395c4745a6","shareId":null}'
      tags:
      - Create Comment Thread
components:
  schemas:
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
    GeomPoint:
      title: point
      description: Point
      type: string
      format: point
