openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Update Webhook API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Update Webhook
paths:
  update-webhook:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: update-webhook
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/Uuid'
                uri:
                  $ref: '#/components/schemas/Uri'
                mtype:
                  title: enum
                  type: string
                  enum:
                  - application/json
                  - application/transit+json
                isActive:
                  $ref: '#/components/schemas/Boolean'
              required:
              - id
              - uri
              - mtype
              - isActive
            example: '{"id":"5ab5eb30-5b3a-81d5-8008-2a395e0d2035","uri":"http:\/\/eawwoqtd.com","mtype":"application\/json","isActive":true}'
      tags:
      - Update Webhook
components:
  schemas:
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
    Boolean:
      title: boolean
      description: boolean
      type: boolean
    Uri:
      title: uri
      description: URI formatted string
      type: string
      format: uri
