openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Create Team With Invitations API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Create Team With Invitations
paths:
  create-team-with-invitations:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: create-team-with-invitations
              type: object
              properties:
                name:
                  type: string
                  maxLength: 250
                features:
                  $ref: '#/components/schemas/Features'
                id:
                  $ref: '#/components/schemas/Uuid'
                emails:
                  title: set
                  description: Set of Strings
                  type: array
                  items:
                    $ref: '#/components/schemas/Email'
                  uniqueItems: true
                role:
                  title: TeamRole
                  type: string
                  enum:
                  - viewer
                  - admin
                  - editor
                  - owner
              required:
              - name
              - emails
              - role
            example: '{"name":"0T99hB9Qt04khJkPlYbO77gC9L4rr4mKmB165","emails":["byqt@example.net","vndad@example.net","nzzg@example.net","vdmpk@example.net"],"role":"owner"}'
      tags:
      - Create Team With Invitations
components:
  schemas:
    Features:
      title: set
      description: Set of Strings
      type: array
      items:
        type: string
      uniqueItems: true
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
    Email:
      title: email
      description: string with valid email address
      type: string
      format: email
