openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Create Team Access Request API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Create Team Access Request
paths:
  create-team-access-request:
    post:
      description: A rpc call that allow to request for an invitations to join the team.
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - title: create-team-access-request
                type: object
                properties:
                  fileId:
                    $ref: '#/components/schemas/Uuid'
                  teamId:
                    $ref: '#/components/schemas/Uuid'
                  isViewer:
                    $ref: '#/components/schemas/Boolean'
            example: '{"fileId":"5ab5eb30-5b3a-81d5-8008-2a395c561b07","teamId":"5ab5eb30-5b3a-81d5-8008-2a395c561b08","isViewer":false}'
      tags:
      - Create Team Access Request
components:
  schemas:
    Boolean:
      title: boolean
      description: boolean
      type: boolean
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
