openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Get Sso Provider API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Get Sso Provider
paths:
  get-sso-provider:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: get-sso-config
              type: object
              properties:
                email:
                  $ref: '#/components/schemas/Email'
              required:
              - email
            example: '{"email":"yfyj@example.net"}'
      responses:
        default:
          description: A default response
          content:
            application/json:
              schema:
                title: SSOProvider
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/Uuid'
                required:
                - id
              example: '{"id":"5ab5eb30-5b3a-81d5-8008-2a395e1657b5"}'
      tags:
      - Get Sso Provider
components:
  schemas:
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
    Email:
      title: email
      description: string with valid email address
      type: string
      format: email
