openapi: 3.2.0
info:
  version: '2.16'
  title: Penpot RPC Get File Info API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Get File Info
paths:
  get-file-info:
    post:
      description: Retrieve minimal file info by its ID.
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: get-file
              type: object
              properties:
                features:
                  $ref: '#/components/schemas/Features'
                id:
                  $ref: '#/components/schemas/Uuid'
              required:
              - id
            example: '{"features":["plugins\/runtime","design-tokens\/v1","variants\/v1","styles\/v2","text-editor\/v2-html-paste","text-editor\/v2","tokens\/numeric-input","render-wasm\/v1","components\/v2"],"id":"5ab5eb30-5b3a-81d5-8008-2a395e0ed4f0"}'
      tags:
      - Get File Info
      summary: Create get file info
      x-summary-source: derived
      operationId: postGetFileInfo
      x-operation-id-source: derived
components:
  schemas:
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
    Features:
      title: set
      description: Set of Strings
      type: array
      items:
        type: string
      uniqueItems: true
