openapi: 3.2.0
info:
  version: '2.16'
  title: Penpot RPC Clone File Media Object API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Clone File Media Object
paths:
  clone-file-media-object:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: clone-file-media-object
              type: object
              properties:
                fileId:
                  $ref: '#/components/schemas/Uuid'
                isLocal:
                  $ref: '#/components/schemas/Boolean'
                id:
                  $ref: '#/components/schemas/Uuid'
              required:
              - fileId
              - isLocal
              - id
            example: '{"fileId":"5ab5eb30-5b3a-81d5-8008-2a395e0faab3","isLocal":false,"id":"5ab5eb30-5b3a-81d5-8008-2a395e0faab4"}'
      tags:
      - Clone File Media Object
      summary: Create clone file media object
      x-summary-source: derived
      operationId: postCloneFileMediaObject
      x-operation-id-source: derived
components:
  schemas:
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
    Boolean:
      title: boolean
      description: boolean
      type: boolean
