openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Update Team Member Role API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Update Team Member Role
paths:
  update-team-member-role:
    post:
      description: null
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: update-team-member-role
              type: object
              properties:
                teamId:
                  $ref: '#/components/schemas/Uuid'
                memberId:
                  $ref: '#/components/schemas/Uuid'
                role:
                  title: TeamRole
                  type: string
                  enum:
                  - viewer
                  - admin
                  - editor
                  - owner
              required:
              - teamId
              - memberId
              - role
            example: '{"teamId":"5ab5eb30-5b3a-81d5-8008-2a395c569ccc","memberId":"5ab5eb30-5b3a-81d5-8008-2a395c569ccd","role":"owner"}'
      tags:
      - Update Team Member Role
components:
  schemas:
    Uuid:
      title: uuid
      description: UUID formatted string
      type: string
      format: uuid
