openapi: 3.0.0
info:
  version: '2.16'
  title: Penpot RPC Add Team To Organization Login With Password API
  description: Penpot RPC-style REST API for projects, files, pages, components, and design assets.
  x-api-id: penpot-rpc
  contact:
    url: https://community.penpot.app/
    name: Penpot Support
  x-humanURL: https://penpot.app/integrations-api
servers:
- url: https://design.penpot.app/api/main/methods
  description: MAIN API
tags:
- name: Login With Password
paths:
  login-with-password:
    post:
      description: Performs authentication using penpot password.
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: login-with-password
              type: object
              properties:
                email:
                  $ref: '#/components/schemas/Email'
                password:
                  title: string
                  description: string
                  type: string
                  format: string
                invitationToken:
                  title: string
                  description: string
                  type: string
                  format: string
              required:
              - email
              - password
            example: '{"email":"cvvmgm@example.net","password":"ojho","invitationToken":"tifej"}'
      tags:
      - Login With Password
components:
  schemas:
    Email:
      title: email
      description: string with valid email address
      type: string
      format: email
